:root{
    /* Colorschemes */
    /* gruvbox */
    /* --bg:#282828; */
    /* --fg:#ebdbb2; */
    /* --white:#bdae93; */
    /* --green:#689d6a; */

    /* tokyonight */
    --bg: #1a1b26;
    --fg: #a9b1d6;
    --white:#acb0d0;
    --green:#9ECE6A;
    --border: #f25287;
    --warning: #ca4749;

    /* onedark */
    /* --bg: #282C34; */
    /* --fg:#ABB2BF; */
    /* --white:#56B6C2; */
    /* --green:#98C379; */
}
@font-face{
    font-family: Terminus;
    src: url('../fonts/TerminusnerdTTF-4.40.1.ttf') format('ttf');
    src: url('../fonts/Terminus.woff') format('woff');
}
* {
    font-family: Vazir Code Hack Extra Height, Terminus;
}
.fa{
    font-family: Vazir Code Hack Extra Height, Vazir;
}
body {
    background-color: var(--bg);
    color: var(--fg);
}
input {
    background-color: var(--white);
    border: none;
}
ul {
    list-style: none;
    font-size:21px;
}
.warning {
    color:var(--warning);
    font-size: 80%;
}
.task-container {
    overflow-y: scroll;
    height: 80vh;
    /* Hiding scrollbar */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.task-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

h2{
    padding-left: 2%;
}
li, #del{
    display: inline;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--green);
    font-size: 20px; 
}
#todo {
    display: flex;
    justify-content: end;
    width: 100%;
}
#todo_box{
    outline: none;
    font-size: Terminus;
    border-radius: 4px;
    width: 40%;
    height: 32px;
}
.header {
    display: flex;
    align-items: center;
}
