:root{
    /* gruvbox */
    --bg:#282828;
    --fg:#ebdbb2;
    --white:#bdae93;
    --green:#689d6a;

    /* onedark */
    /* --bg: #282C34; */
    /* --fg:#ABB2BF; */
    /* --white:#56B6C2; */
    /* --green:#98C379; */
}
@font-face{
    font-family: Terminus;
    src: url('../fonts/TerminusnerdTTF-4.40.1.ttf') format('ttf');
    src: url('../fonts/Terminus.woff') format('woff');
}
* {
    font-family: Terminus;
}
body {
    background-color: var(--bg);
    color: var(--fg);
}
input {
    background-color: var(--white);
    border: none;
}
ul {
    list-style: none;
    font-size:21px;
}
li, #del{
    display: inline;
}
button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: var(--green);
    font-size: 20px; 
}
#todo {
    display: flex;
    justify-content: center;
    width: 100%;
}
#todo_box{
    outline: none;
    font-size: Terminus;
    border-radius: 4px;
    width: 40%;
    height: 32px;
}
