<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div class="todo">
        <h1>TODO: </h1>
        <ul>
            {% for task in todo_txt %}
            <li>
                <form id="del" action="{{ url_for('delete') }}">
                    <input type="hidden" value="{{ task }}" name="task">
                    <button type="submit">x</button>
                </form>
                {{ make_para(task) | safe}}
            </li><br/>
            {% endfor %}
        </ul>
        </div>

        <form id="todo" action="{{ url_for('add') }}">
            <input id="todo_box" name="todo_box">
        </form>

        <script>
        document.getElementById("todo_box").addEventListener("keydown", (event) => {
              if (event.keyCode === 13) {
                document.getElementById('todo').submit();
            }
        });
        </script>
    </body>
</html>
