<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Todo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet">
        <link rel="icon" href="data:,">
    </head>
    <body>
        <div class="header">
            <h1>TODO: </h1>
            <form id="todo" action="{{ url_for('add') }}">
                <input id="todo_box" name="todo_box">
            </form>
        </div>
        <div class="task-container">
            {% set i = 1 %}
            {% for date, tasks in todo_list.items() %}
                {% if date == today.strftime("%m/%d") %}
                    <h2>Today</h2>
                {% elif date == (today+timedelta(1)).strftime("%m/%d") %}
                    <h2>Tomorrow</h2>
                {% elif date == (today-timedelta(1)).strftime("%m/%d") %}
                    <h2>Yesterday <span class="warning">Hurry up!</span></h2>
                {% else %}
                    <h2>{{ date }}</h2>
                {% endif %}
                <ul>
                {% for task in tasks %}
                
                <li>
                    <form id="del" action="{{ url_for('delete') }}">
                        <input type="hidden" value="{{ task }}" name="task">
                        <input type="hidden" value="{{ date }}" name="date">
                        <button type="submit">x</button>
                    </form>
                    {{ make_para(task, i) | safe}}
                </li><br/>
                {% endfor %}
                </ul>
            {% endfor %}
        </div>

        <script>
        document.getElementById("todo_box").addEventListener("keydown", (event) => {
            if (event.keyCode === 13) {
                document.getElementById('todo').submit();
            }
        });

        </script>
    </body>
</html>
